In [1]:
import pandas as pd
'''df1 = {"ID":[1,2,3], "Name":["Alice","Bob","Charlie"]}
df2 = {"ID":[1,2,4], "Score":[85,90,95]}
'''
df1 = {"ID":[1,2,3], "Name":["Alice","Bob","Charlie"]}
df2 = {"ID":[1,2,4], "Score":[85,90,95]}

table1 = pd.DataFrame(df1)
table2 = pd.DataFrame(df2)

print(table1)
print(table2)

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
   ID  Score
0   1     85
1   2     90
2   4     95

In [2]:
#inner join
inner_table = pd.merge(table1,table2,on = "ID")
print(inner_table)

   ID   Name  Score
0   1  Alice     85
1   2    Bob     90

In [3]:
#left join
left_table = pd.merge(table1,table2,on = "ID",how = "left")
print(left_table)

   ID     Name  Score
0   1    Alice   85.0
1   2      Bob   90.0
2   3  Charlie    NaN

In [4]:
#right join
right_join = pd.merge(table1,table2,on = "ID",how = "right")
print(right_join)

   ID   Name  Score
0   1  Alice     85
1   2    Bob     90
2   4    NaN     95

In [6]:
#outter join
outter_join = pd.merge(table1,table2,on = "ID",how = "outer")
print(outter_join)

   ID     Name  Score
0   1    Alice   85.0
1   2      Bob   90.0
2   3  Charlie    NaN
3   4      NaN   95.0

In [9]:
#concatination : 
verti_concat = pd.concat([table1,table2],axis=0,ignore_index= True)
print(verti_concat)

print("**********************************")

hori_concat = pd.concat([table1,table2],axis=1,ignore_index=False)
print(hori_concat)

   ID     Name  Score
0   1    Alice    NaN
1   2      Bob    NaN
2   3  Charlie    NaN
3   1      NaN   85.0
4   2      NaN   90.0
5   4      NaN   95.0
**********************************
   ID     Name  ID  Score
0   1    Alice   1     85
1   2      Bob   2     90
2   3  Charlie   4     95