In [3]:
'''Load the Titanic dataset (sns.load_dataset("titanic") if using seaborn).

Select all passengers who survived and were female.

Select first 10 rows of only ['survived','sex','age'].

Get passengers older than 60.'''



import pandas as pd
import seaborn as sns

titanic = sns.load_dataset("titanic")
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [4]:
ans1 = titanic[(titanic["survived"]==1) & (titanic["sex"]=="female")]
print(ans1.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1         1       1  female  38.0      1      0  71.2833        C   First
2         1       3  female  26.0      0      0   7.9250        S   Third
3         1       1  female  35.0      1      0  53.1000        S   First
8         1       3  female  27.0      0      2  11.1333        S   Third
9         1       2  female  14.0      1      0  30.0708        C  Second

     who  adult_male deck  embark_town alive  alone
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
8  woman       False  NaN  Southampton   yes  False
9  child       False  NaN    Cherbourg   yes  False

In [5]:
ans2 = titanic[['survived','sex','age']]
print(ans2.head(10))

   survived     sex   age
0         0    male  22.0
1         1  female  38.0
2         1  female  26.0
3         1  female  35.0
4         0    male  35.0
5         0    male   NaN
6         0    male  54.0
7         0    male   2.0
8         1  female  27.0
9         1  female  14.0

In [6]:
ans3 = titanic[titanic["age"]>60]
print(ans3.head())

     survived  pclass   sex   age  sibsp  parch     fare embarked   class  \
33          0       2  male  66.0      0      0  10.5000        S  Second
54          0       1  male  65.0      0      1  61.9792        C   First
96          0       1  male  71.0      0      0  34.6542        C   First
116         0       3  male  70.5      0      0   7.7500        Q   Third
170         0       1  male  61.0      0      0  33.5000        S   First

     who  adult_male deck  embark_town alive  alone
33   man        True  NaN  Southampton    no   True
54   man        True    B    Cherbourg    no  False
96   man        True    A    Cherbourg    no   True
116  man        True  NaN   Queenstown    no   True
170  man        True    B  Southampton    no   True

In [7]:
'''Filter rows where Revenue > 250.

Select revenue of Store B in Feb.'''


sales = {"Store":["A","A","B","B","C"],
         "Month":["Jan","Feb","Jan","Feb","Jan"],
         "Revenue":[200,220,250,270,300]}

df = pd.DataFrame(sales)
print(df)

  Store Month  Revenue
0     A   Jan      200
1     A   Feb      220
2     B   Jan      250
3     B   Feb      270
4     C   Jan      300

In [8]:
ans1 = df[df["Revenue"]>250]
print(ans1)

  Store Month  Revenue
3     B   Feb      270
4     C   Jan      300

In [9]:
ans2 = df[(df["Store"]=="B")&(df["Month"]=="Feb")]
print(ans2)

  Store Month  Revenue
3     B   Feb      270

In [25]:
'''From the sales DataFrame above:

Find total revenue by each Store.

Find average revenue per Month.'''

sales = {"Store":["A","A","B","B","C"],
         "Month":["Jan","Feb","Jan","Feb","Jan"],
         "Revenue":[200,220,250,270,300]}

table = pd.DataFrame(sales)

total_revenue_by_stores = table.groupby("Store",as_index=False).agg("sum")
print(total_revenue_by_stores[["Store","Revenue"]])

month_rev_table = table[["Month","Revenue"]].copy()
avg_revenue_per_month = month_rev_table.groupby("Month",as_index = False).agg("mean")
print(avg_revenue_per_month)

  Store  Revenue
0     A      420
1     B      520
2     C      300
  Month  Revenue
0   Feb    245.0
1   Jan    250.0

In [30]:
'''Titanic dataset:

Find average age by passenger class (pclass).

Count number of survivors by gender.

Find min & max fare paid in each class.'''

class_age = titanic[["class","age"]].copy()
avg_age_class_wise = class_age.groupby("class",as_index=False).agg("mean")
print(avg_age_class_wise)

    class        age
0   First  38.233441
1  Second  29.877630
2   Third  25.140620

C:\Users\Karanbir\AppData\Local\Temp\ipykernel_20212\123700510.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_age_class_wise = class_age.groupby("class",as_index=False).agg("mean")

In [31]:
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [33]:
gender_survived = titanic[["who","survived"]].copy()
sur_by_gen = gender_survived.groupby("who").agg("count")
print(sur_by_gen)

       survived
who
child        83
man         537
woman       271

In [37]:
class_wise_fare = titanic.groupby("class",as_index=False)["fare"].agg(max_fare = "max",min_fare = "min")
print(class_wise_fare)

    class  max_fare  min_fare
0   First  512.3292       0.0
1  Second   73.5000       0.0
2   Third   69.5500       0.0

C:\Users\Karanbir\AppData\Local\Temp\ipykernel_20212\2131329383.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  class_wise_fare = titanic.groupby("class",as_index=False)["fare"].agg(max_fare = "max",min_fare = "min")